<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/baitap.css">
</head>
<body>
    <header>
        <nav class="d-flex">
            <div class="logo">
                <img src="https://w7.pngwing.com/pngs/664/673/png-transparent-apple-logo-iphone-computer-apple-logo-company-heart-logo-thumbnail.png" alt="" style="width: 120px;">
            </div>
            <ul class="menu-cap-1">
               <li class="option"><a href="#" class="link">
                    home
                    </a></li>
               <li class="option"><a href="#" class="link">
                     mẫu mã
                    </a></li>
               <li class="option">
                    <a href="#" class="link">
                     sản phẩm
                    </a>
                    <div class="menu-cap-2">
                        <ul class="list-option">
                            <li class="option"><a href="#" class="link">Iphone</a>
                                <div class="mega">
                                    <ul class="ultra">
                                        <li class="option">
                                            <a href="#" class="link">iphone 14

                                            </a>
                                        </li>
                                        <li class="option">
                                            <a href="#" class="link">iphone 14 pro

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="option"><a href="#" class="link">Tư vấn</a></li>
                        </ul>
                    </div>
                </li>
               <li class="option"><a href="#" class="link">
                     Tư vấn
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="page-content">
        <div class="banner">
            <img src="https://cdn2.cellphones.com.vn/690x300,webp,q100/https://dashboard.cellphones.com.vn/storage/iphone-15-base-sliding-th909.png" alt="" style="width: 1700px;">
        </div>
        <div class="list-card">
            <div class="card" style="width: 350px;">
               <div class="card-img" >
                   <img src="https://vcdn-sohoa.vnecdn.net/2022/01/12/Higher-Apple-iPhone-14-Pro-and-2029-6578-1641958919.jpg" alt="" style="width: 100%;">
               </div>
               <div class="card-content">
                   <div class="card-title">
                       <h3 style="text-align: center;">Iphone 14 ultra</h3>
                   </div>
                   <div class="card-price">
                       <p style="text-align: center;">25,000,000 <sub>vnd</sub></p>
                   </div>
               </div>
                </div>
               <div class="card" style="width: 350px;">
               <div class="card-img" >
                   <img src="https://vcdn-sohoa.vnecdn.net/2022/01/12/Higher-Apple-iPhone-14-Pro-and-2029-6578-1641958919.jpg" alt="" style="width: 100%;">
               </div>
               <div class="card-content">
                   <div class="card-title">
                       <h3 style="text-align: center;">Iphone 14 ultra</h3>
                   </div>
                   <div class="card-price">
                       <p style="text-align: center;">25,000,000 <sub>vnd</sub></p>
                   </div>
                </div>
               </div>
               <div class="card" style="width: 350px;">
               <div class="card-img" >
                   <img src="https://vcdn-sohoa.vnecdn.net/2022/01/12/Higher-Apple-iPhone-14-Pro-and-2029-6578-1641958919.jpg" alt="" style="width: 100%;">
               </div>
               <div class="card-content">
                   <div class="card-title">
                       <h3 style="text-align: center;">Iphone 14 ultra</h3>
                   </div>
                   <div class="card-price">
                       <p style="text-align: center;">25,000,000 <sub>vnd</sub></p>
                   </div>
               </div>
            </div>
            <div class="card" style="width: 350px;">
                <div class="card-img" >
                    <img src="https://vcdn-sohoa.vnecdn.net/2022/01/12/Higher-Apple-iPhone-14-Pro-and-2029-6578-1641958919.jpg" alt="" style="width: 100%;">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        <h3 style="text-align: center;">Iphone 14 ultra</h3>
                    </div>
                    <div class="card-price">
                        <p style="text-align: center;">25,000,000 <sub>vnd</sub></p>
                    </div>
                 </div>
                </div>
                <div class="card" style="width: 350px;">
                    <div class="card-img" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1_QpAQpanpWweszdH0PxpdJh9o_RTYur9Jw&usqp=C25" alt="">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="text-align: center;">Iphone xs  max</h3>
                        </div>
                        <div class="card-price">
                            <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
                        </div>
                     </div>
                    </div>
                    <div class="card" style="width: 350px;">
                        <div class="card-img" >
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1_QpAQpanpWweszdH0PxpdJh9o_RTYur9Jw&usqp=C25" alt="">
                        </div>
                        <div class="card-content">
                            <div class="card-title">
                                <h3 style="text-align: center;">Iphone xs  max</h3>
                            </div>
                            <div class="card-price">
                                <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
                            </div>
                         </div>
                    Iphone 14 ultra
        </div>
    </section>
</body>
</html>