<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="list-card">
     <div class="card" style="width: 350px;">
        <div class="card-img" >
            <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width: 100%;">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h3 style="text-align: center;">KASHMIR</h3>
            </div>
            <div class="card-price">
                <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
            </div>
        </div>
        <div class="card-img" style=">
            <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width: 100%;">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h3 style="text-align: center;">KASHMIR</h3>
            </div>
            <div class="card-price">
                <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
            </div>
        </div>
        <div class="card-img" >
            <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width: 100%;">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h3 style="text-align: center;">KASHMIR</h3>
            </div>
            <div class="card-price">
                <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
            </div>
        </div>
        <div class="card-img" >
            <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fw%2Fe%2Fweb_-_kashmir_mo_i_copy_2_.png&w=640&q=75" alt="" style="width: 100%;">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h3 style="text-align: center;">KASHMIR</h3>
            </div>
            <div class="card-price">
                <p style="text-align: center;">10,000,000 <sub>vnd</sub></p>
            </div>
        </div>
     </div>
    </section>
</body>
</html>